<% if users.any? %>
    <% users.each do |user| %>
    <ul>
      <li><%= user.name %></li>
      <li><%= link_to 'View profile', user_path(user) %></li>
    </ul>
    <% end %>
  <%= paginate users %>
<% end %>
